@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

<<<<<<< HEAD
body, * {
=======
* {
>>>>>>> ebdfd929e166e6912620c334bd5d7bb102e35d3a
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    color: white;
    overflow: hidden;
    user-select: none;
}

body {
    background-color: rgb(25, 25, 25);
    overflow: hidden;
    user-select: none;
}


span {
    color: white;
}

.cursorline{
    position: relative;
    top: 50%;
    width: 16em;
    border-right: solid 2px rgba(255, 255, 255, 0.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    transform: translateY(160%);
    margin: 0 auto;
    overflow: hidden;
}

.type {
    animation: typeEffect 5s steps(40) 1s 1 normal both, cursorBlinkEffect 540ms steps(40) infinite normal;
}

@keyframes typeEffect {
    from {
        width: 0;
    }
    to {
        width: 15em;
    }
}

@keyframes cursorBlinkEffect {
    from { 
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

<<<<<<< HEAD
.lali {
=======
li {
>>>>>>> ebdfd929e166e6912620c334bd5d7bb102e35d3a
    list-style: none;
    display: inline-block;
    padding: 15px 30px;
    border: 2px;
    border-style: solid;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    letter-spacing: 0;
}

a:hover {
   color: rgb(59, 132, 214);
   transition: 0.7s;
   letter-spacing: 2px;
   border-bottom-style: groove;
   border-bottom-width: medium;
   border-top: 2px solid rgb(59, 132, 214);
<<<<<<< HEAD
}

.hina {
    font-size: 50px;
    position: fixed;
    top: 50%;
    left: 38%;
}


@keyframes skol {
    from {
        transform: translateX(500%);
    }
    to {
        transform: translateX(0);
    }
}

.irip {
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
    margin: 0 auto;
    padding: 21px;
    width: 500px;
    height: 700px;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    text-align: justify;
    column-count: auto;
}

.ma {
    position: absolute;
    right: 46%;
    bottom: 80%;
    font-size: 30px;
}

* {cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;}
=======
}

.hina {
    font-size: 50px;
    position: fixed;
    top: 50%;
    left: 38%;
}


@keyframes skol {
    from {
        transform: translateX(500%);
    }
    to {
        transform: translateX(0);
    }
}

.irip {
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
    margin: 0 auto;
    padding: 21px;
    width: 500px;
    height: 700px;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    text-align: justify;
    column-count: auto;
}

* {cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;}
>>>>>>> ebdfd929e166e6912620c334bd5d7bb102e35d3a
